html {
   background: url('https://i.pinimg.com/originals/f1/32/15/f13215a3276ab6f25339d39221caa4aa.jpg') no-repeat center fixed;
   background-size: cover;
   overflow-x: hidden;
}

#page__title {
   color: rgb(250, 248, 248);
   font-size: 2rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 500;
   text-align: center;
   text-shadow: 4px 4px 4px black;
}
 
.sortBeer__h3 {
   color: white;
   font-size: 1.8rem;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 500;
   text-align: center;
   text-shadow: 4px 4px 4px black;
   margin-top: 70px;
}
 
@media (min-width: 37.4rem) {

   #page__title {
      font-size: 3rem;
   }   
   .sortBeer__h3 {
      font-size: 2.4rem;
   }
   
   #sort-ibu,
   #sort-Ap {
      font-size: 1.5rem;
   }
}
 
@media (min-width: 81rem) {

   #page__title {
      font-size: 3rem;
      margin-right: 120px;
   }   
   
   .sortBeer__h3 {
      font-size: 2.4rem;
      margin-right: 170px;
   }
   
   #sort-Ap {
      font-size: 1.3rem;
      margin-left: 600px;
   }
   
   #sort-ibu {
      margin-left: 667px;
   }
}
  
  
  

  
  